= form_for [lobby , Unit.new],url: new_lobby_unit_path(lobby.url), method: "get" do |f|

  .field
    = f.select :variety, Unit::CLASSES, {}, { class: "form-control"}

    .actions = f.submit class: "btn btn-default"
