pre 
  | Warrior have damage 9-14, resist to
    magic damage 50%
    physical damage 50%

    Mage have damage 18-23, resist to
    magic damage 50%
    physical damage 20%

    Priest have damage 9-14, heal 9-14(can resurrect)
    When you want resurrect, you give 80% of your health, but when your health more than 9
    resist to
    magic damage 60%
    physical damage 20%

    Your target can't absorb damage if you hit with crit
    Chance to critical hit 25%
    Change to miss 14%
